.alert--success {
    border-left: 3px solid rgb(0, 117, 0) !important;
}

.alert--danger {
    border-left: 3px solid rgb(109, 0, 0) !important;
}

.alert--warning {
    border-left: 3px solid rgb(230, 214, 0) !important;
}

.alert--gray {
    border-left: 3px solid rgb(78, 78, 78) !important;
}