<div class="container-fluid overflow-hidden h-auto d-flex flex-row mb-2 mt-3">

    <div class="d-flex flex-column overflow-auto col-6 secondary-theme">

        <!-- LOAD IMAGE TO APPLY A FILTER-->

        <label class="btn btn-danger my-5">
            Load image <input type="file" name="file" (change)="addImage($event)"
             hidden>
        </label>

        <!-- SELECT FILTER TYPE -->

        <span class="secondary-theme">
            <mat-radio-group color="warn" (change)="changeRadioValue($event)" aria-label="Select an option"
                class="d-flex flex-row mb-5">

                <mat-radio-button value="basic" class="mx-2">Basic filters</mat-radio-button>
                <mat-radio-button value="common" class="mx-2">Common filters</mat-radio-button>
            </mat-radio-group>
        </span>

        <!-- RENDER CORRECT FORM -->

        <span *ngIf="selectedValue; else selectOne">
            <span [ngSwitch]="selectedValue">
                <div *ngSwitchCase="'common'">
                    <app-common-form [file]="file" (outputSelectedValue)="changeSelectedFilterValue($event)" 
                    (resultImage)="showResultImage($event)"></app-common-form>
                </div>
                <div *ngSwitchCase="'basic'">
                    <app-basic-form [file]="file"></app-basic-form>
                </div>
            </span>
        </span>

        <ng-template #selectOne>
            <div class="alert alert-warning" role="alert">
                <strong>Please select an option</strong>
            </div>
        </ng-template>


        <!-- PREVIEW OF THE UPLOAD IMAGE -->

        <div *ngIf="imageAsSrc">
            <h5>Preview</h5>
            <img [src]="imageAsSrc" alt="404"
                class="col-6 img-fluid hover-shadow rounded-2 preview-image shadow-5-strong border-5">
        </div>
    </div>

    <mat-divider class="mx-2" [vertical]="true"></mat-divider>

    <div *ngIf="resultImage" class="col-6 bg-primary align-self-center">

        <mat-card class="rounded">
            <mat-card-header>
                <mat-card-title>{{selectedFilterValue}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img [src]="resultImage | safeUrl" alt="" srcset="" 
        class="img-fluid hover-shadow rounded preview-image shadow-5-strong border-5">
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between">
                <a class="btn btn-primary mx-2" [download]="downloadSrc" [href]="resultImage | safeUrl">
                    Save this image
                </a>
                <button mailto class="btn btn-success">Send via email</button>
            </mat-card-actions>
        </mat-card>

        

    </div>

</div>