<div class="container-fluid overflow-hidden h-auto d-flex flex-row mb-2 mt-3">

    <div class="d-flex flex-column overflow-auto col-6 secondary-theme">

        <!-- LOAD IMAGE TO APPLY A FILTER-->

        <label class="btn btn-danger my-5">
            Load image <input type="file" name="file" (change)="addImage($event)" hidden>
        </label>

        <!-- SELECT FILTER TYPE -->

        <span class="secondary-theme">
            <mat-radio-group color="warn" (change)="changeRadioValue($event)" aria-label="Select an option"
                class="d-flex flex-row mb-5">

                <mat-radio-button value="basic" class="mx-2">Basic filters</mat-radio-button>
                <mat-radio-button value="common" class="mx-2">Common filters</mat-radio-button>
            </mat-radio-group>
        </span>

        <!-- RENDER CORRECT FORM -->

        <span *ngIf="selectedValue; else selectOne">
            <span [ngSwitch]="selectedValue">
                <div *ngSwitchCase="'basic'">
                    <app-basic-form (imageAsSrc)="setSrc($event)"></app-basic-form>
                </div>
                <div *ngSwitchCase="'common'">
                    <app-common-form></app-common-form>
                </div>
                <div *ngSwitchDefault>

                    <div class="alert alert-danger" role="alert">
                        <strong>Unknown Error</strong>
                    </div>

                </div>
            </span>
        </span>

        <ng-template #selectOne>
            <div class="alert alert-warning" role="alert">
                <strong>Please select an option</strong>
            </div>
        </ng-template>


        <!-- PREVIEW OF THE UPLOAD IMAGE -->

        <div *ngIf="imageAsSrc">
            <h6>Preview</h6>
            <img [src]="imageAsSrc" alt="404"
                class="col-6 img-fluid hover-shadow rounded-2 preview-image shadow-5-strong border-5">
        </div>
    </div>

    <mat-divider class="mx-2" [vertical]="true"></mat-divider>

    <div class="col-6 bg-primary">

        hello world

    </div>

</div>