<div class="container-fluid">

    <div class="d-flex flex-row">

        <form action="{{imageFilterRoute}}" method="POST" matFormFieldControl class="d-flex flex-column col-6 m-2">

            <angular-file-uploader [config]="afuConfig"
            (ApiResponse)="DocUpload($event)">
            </angular-file-uploader>

            <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <input matInput type="text" placeholder="Ex. It makes me feel...">
            </mat-form-field>

        </form>

        <div class="col-6">

            <p>HELLO</p>

        </div>

    </div>


</div>