<div class="container-fluid overflow-hidden h-auto d-flex row p-5 mt-3 justify-content-between">

    <form (submit)="submitImage($event)" class="pt-5 d-flex custom-card row col-12 secondary-theme">


        <div class="d-flex flex-row">
            <label for="file" class="btn btn-primary">
                Load File
                <input (change)="loadFile($event)" type="file" accept="image/*"  
                multiple="false" name="file" id="file" hidden required>
            </label>

            <p class="w-100">Filename</p>
        </div>

        <img [src]="(originalImage$ | async)?.src | safeUrl" alt="" >

        <div class="custom-card-action mt-2">

            <button type="button" class="btn" (click)="toggleImage()">
                Show {{ (isOriginalImageToggled | async)? "Result": "Original" }}
            </button>

            <button class="btn btn-primary" type="submit">
                submit
            </button>
         </div>
       
    </form>

</div>