<div class="container-fluid overflow-hidden h-auto d-flex row p-5 mt-3 justify-content-between">

    <form (submit)="submitImage($event)" class="pt-5 d-flex custom-card row col-12">


        <div class="d-flex flex-row align-items-center mb-2">
            <label for="file" class="btn btn-primary flex-shrink-0">
                <span>Load File</span>
                <input (change)="loadFile($event)" type="file" accept="image/*"  
                multiple="false" name="file" id="file" hidden required>
            </label>

            <p class="w-100 m-0 file-name-container ms-2 ps-1 mb-2 pb-2 fs-6">
                <ng-container *ngIf="(originalFileName | async )as filename">
                    {{filename}}
                </ng-container>
            </p>
        </div>

        
            <app-filter-image 
            *ngIf="!(errorData | async); else errorTemplate"  
            [originalImage]="originalImageSubject | async" 
            [resultImage]="resultImageSubject | async"
            [isOriginalImageToggled]="isOriginalImageToggledSubject | async">
            </app-filter-image>

        <ng-template #errorTemplate>
            <div class="alert"  role="alert"
            [ngClass]="(errorData | async)?.severity === 'danger'? 'alert-danger': 'alert-warning'">
                <strong *ngIf="(errorData | async)?.code as code">{{code}}</strong>
                <span *ngIf="(errorData | async)?.message as message">
                    {{message}}
                </span>
            </div>
        </ng-template>
        

        <app-filter-form (changeImageStateEmitter)="toggleImage()" class="p-0"
        [isOriginalImageToggled]="(isOriginalImageToggledSubject | async)" 
        ></app-filter-form>
       
    </form>

</div>