<div class="container-fluid row">

    <div class="col-12 position-relative z1 container-text row">

        <!-- inViewport (inViewportAction)="changeOnView($event)" -->
        <div class="section-divider">
            <h1 class="fw-light" index="0" #intro inViewport (inViewportAction)="changeOnView($event)" id="intro">
                Intro
            </h1>

            <mat-divider class="mb-2"></mat-divider>

            <p class="fs-6">

                Hello, my name is Luis Augusto and this is my first full stack application.
                The application consists of tools to apply filters to images and
                to detect the mimetype of a file.

                The app is quite simple, it consist in 2 sections:
            </p>

            <ul>
                <li><a href="#mimetypes-section">Mimetypes</a></li>
                <li><a href="#filters-section">Filters</a></li>
            </ul>

            <p class="fs-6">
                the filter section was made with the same filters from the CS50X course 
                and some others that I added like negative, contrast, saturation (hue).
            </p>

            <p class="fs-6">
                The detector section was made using 
                <a href="https://tika.apache.org/">
                    <fa-icon [icon]="faLinkIcon" size="sm"></fa-icon>
                    Apache Tika</a>, a tool for manipulate and detect
                files metadata
            </p>
        </div>

        <div class="section-divider">
            <h1 class="mb-0 fw-light" id="mimetypes-section" 
            #mimetypes index="1" inViewport (inViewportAction)="changeOnView($event)"
                id="mimetypes">MIME types</h1>
            <a class="text-muted" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types"
                target="_blank">
                <h4 class="muted-link">

                    <fa-icon [icon]="faLinkIcon" size="sm"></fa-icon>
                    Here is the definition of MIME type from the MDN foundation
                </h4>
            </a>


            <mat-divider class="mb-2"></mat-divider>

            <p class="fs-6">
                In the Detect section you can detect the MIME type of a provided file, this is
                useful when you have a file without a valid extension as ".jpg", ".pdf", etc. and you
                want to know which type of file it is.
            </p>

            <p class="fs-6">
                The mimetypes generally consists in and type and a subtype divided with a slash (/). The
                type represent a general category that indicates the file's purpose such a video, text, image, audio.
                The subtype indicates the exact kind of data used by the file, some examples may be
                mp4, plaintext, jpg, mp3.
            </p>

            <div class="border border-dark rounded p-3">
                <span class="text-muted">Here is a valid mimetype example</span>
                <mat-divider></mat-divider>
                <p class="fs-4 mt-3">
                    <span matTooltip="type">image</span>/<span matTooltip="subtype">jpeg</span>
                </p>
            </div>
            
        </div>

        <div class="section-divider">

            <h1 class="fw-light" index="2" #filters inViewport (inViewportAction)="changeOnView($event)" id="filters-section">
                Filters
            </h1>

            <mat-divider class="mb-2"></mat-divider>

            <p class="fs-6">

                In the filters section you can apply effect to your photos like negative, sepia,
                ascii, reflect, blur and some basic effects like hue, brightness, etc.


            </p>

            <div>
                <span class="text-muted">here are some examples:</span>
                <carousel [loop]="true" class="mb-5" #carousel>

                    <div *ngFor="let image of images" class="carousel-cell" dots="false" matTooltip="{{image.name}}">
                        <div>
                            <img (click)="showImage(image)" class="carousel-image" [src]="image.path">
                            <button class=" my-5">CLICK me</button>
                        </div>
                    </div>

                </carousel>
            </div>
        </div>

    </div>



    <!-- <mat-vertical-stepper #stepper="matVerticalStepper" class="col-2 side-stepper" color="warn">

        <mat-step (optional)="true" #step label="Intro" name="TTTTTTTTTT">
        </mat-step>

        <mat-step (optional)="true" #step label="Detect MIME types">
        </mat-step>

        <mat-step (optional)="true" #step label="Filters">
        </mat-step>
    </mat-vertical-stepper> -->


</div>