.dialog-container {

    position: relative;
    top: 10%;
    left: 37%;
    max-width: 100%;
    max-height: 100%;

}

.dialog-image {

    max-width: 50% !important;

}

.top-left {
    position: absolute;
    top: 10%;
    left: 25%;

}
