<div class="container-fluid h-auto d-flex mb-2 mt-5 flex-wrap row justify-content-between">

    <form matFormFieldControl [formGroup]="detectorForm"
        class="d-flex col-12 col-md-5 mb-5 flex-column align-items-center justify-content-center"
        (ngSubmit)="submitFile()">

        <label class="btn btn-danger w-75">
            Load file <input formControlName="file" type="file" name="file" (change)="onLoadFile($event)" hidden>
        </label>

        <div class="my-5 border-5">

            <h4>Filename: <span>{{filename}}</span></h4>
            <h4>Created at: <span>{{fileDate}}</span></h4>
            <h4>Type: <span>{{fileType}}</span></h4>
            <h4>Size:
                <span class="mb-3" *ngIf="fileSize !== 0">
                    {{fileSize}} Bytes 
                    <span *ngIf="fileSize / 1000 >= 1"> ({{fileSize | readableSize}}) </span>
                </span>

            </h4>

        </div>

        <input type="submit" value="Check mimetype" class="btn btn-success w-75" [disabled]="detectorForm.invalid">

    </form>

    <mat-divider [vertical]="true" *ngIf="result" class="d-sm-none p-0 d-md-flex col-md-1 flex-shrink-1"></mat-divider>

    <mat-divider *ngIf="result" class=" d-block col p-0 d-md-none "></mat-divider>

    <div *ngIf="result" class="d-flex col-12 col-md-5 flex-column justify-content-center align-items-center">

        <h1>Results:</h1>
        <mat-divider></mat-divider>
        <h2>Mimetype: <span class="text-muted">{{result.mimetype}}</span></h2>
        <h2>extension: <span class="text-muted">{{result.extension}}</span></h2>


        <div *ngIf="isValidImage(result?.extension) && file" class="alert mt-4 alert-success 
        d-flex flex-column col-sm-8 col-md-12" role="alert">
            <strong class="h4 mb-2">This file is a valid image</strong>
            <a (click)="navigateToFilters()" class="btn btn-success" routerLinkActive="router-link-active">Apply filter
                to this image</a>
        </div>

        <div *ngIf="showWebpError()" class="alert alert-danger" role="alert">
            <strong>Some WEBP files may not be supported</strong>
        </div>

    </div>

</div>