<div class="container-fluid mt-3 h-auto d-flex flex-wrap row justify-content-around">

    <form matFormFieldControl [formGroup]="detectorForm"
        class="d-flex detector-card col-12 col-md-5 mb-5 custom-card pt-3 "
        (ngSubmit)="submitFile()">

        <label class="btn btn-danger w-75">
            Load file <input formControlName="file" type="file" name="file" 
            (change)="onLoadFile($event)" hidden>
        </label>

        <div class="my-5 border-5 alert alert--gray w-100 font-sans file-info-container">

            <p>Filename: <span class="card-secondary-text">{{filename}}</span></p>
            <p>Created at: <span class="card-secondary-text">{{fileDate}}</span></p>
            <p>Type: <span class="card-secondary-text">{{fileType}}</span></p>
            <p>Size:
                <span class="mb-3 card-secondary-text" *ngIf="fileSize !== 0">
                    {{fileSize}} Bytes 
                    <span *ngIf="fileSize / 1000 >= 1"> ({{fileSize | readableSize}}) </span>
                </span>

            </p>

        </div>
        <div class="custom-card-action w-100">
            <input type="submit" value="Check mimetype" class="btn btn-success w-75 submit-btn"
            [disabled]="detectorForm.invalid" [ngClass]="detectorForm.invalid? '': ''">
        </div>

    </form>

    <mat-divider [vertical]="true" *ngIf="result"
     class="d-sm-none p-0 d-md-flex col-md-1 flex-shrink-1"></mat-divider>

    <mat-divider *ngIf="result" class=" d-block col p-0 d-md-none "></mat-divider>

    <div *ngIf="result" 
    class="d-flex col-12 col-md-5 pt-3 custom-card result-card">

        <div class="border-5 alert alert--gray w-100 m-0 file-info-container">
            <h1>Results:</h1>
            <mat-divider></mat-divider>
            <h2>Mimetype: <span class="text-muted">{{result.mimetype}}</span></h2>
            <h2>extension: <span class="text-muted">{{result.extension}}</span></h2>
        </div>

        <div *ngIf="this.detectorService.isValidTypeOrMimetype(result?.extension, this.file) && file" 
        class="alert alert-success m-0
        d-flex flex-column alert--success col-sm-8 col-md-12" role="alert">
            <strong class="h4">This file is a valid image</strong>
            <a (click)="navigateToFilters()" class="btn btn-success" 
            routerLinkActive="router-link-active">Apply filter
                to this image</a>
        </div>

        <div *ngIf="showWebpError()" class="alert alert-danger" role="alert">
            <strong>Some WEBP files may not be supported</strong>
        </div>

    </div>

</div>