<div class="container-fluid my-5 pb-5 about-container">

    <h1 class="display-1 fw-light">Intro</h1>

    <p class="fs-6">Hello, my name is Luis Augusto and this is my first full stack app. The app consist in
        tools to apply filters to images and for detecting file's mimetype.
    </p>

    <mat-divider class="mb-5"></mat-divider>

    <h1 class="display-1 fw-light">What I used to build it?</h1>

    <div *ngIf="" class="stack-list px-5 row justify-content-around">

        <div class="angular-list-container col-12 col-xl-6 px-0">

            <img src="/assets/images/angular.png" class="stack-image">

            <div class="angular-text-container">

                <span class="angular-text">

                    <h2 class="display-1 col-6 fw-light fs-4 spring-text-title">Front-End</h2>

                    <ul class="fw-lighter stack-list p-0 col-6">
                        <li matTooltip="Angular 11" [matTooltipPosition]="'left'">Angular</li>
                        <li matTooltip="Apache Tika 0" [matTooltipPosition]="'left'">MDBootstrap</li>

                    </ul>
                </span>
            </div>
        </div>


 
        <mat-divider class="my-5 w-75 col-1 d-xl-none"></mat-divider>

        <mat-divider [vertical]="true" class="my-5 h-75 d-none col-1 d-xl-flex"></mat-divider>

        <div class="spring-list-container col-12 col-xl-6">

            <img src="/assets/images/spring.jpg" class="stack-image">

            <div class="spring-text-container"></div>

            <span class="spring-text">

                <h2 class="display-1 fw-light fs-4 spring-text-title">Back-end</h2>

                <ul class="fw-lighter stack-list p-0">
                    <li matTooltip="Spring 2.3.7" [matTooltipPosition]="'left'">Spring boot</li>
                    <li matTooltip="Apache Tika 0" [matTooltipPosition]="'left'">Apache Tika</li>
                </ul>
            </span>
        </div>

    </div>



</div>