.section-text {
    line-height: 40px;
    font-weight: lighter;
}


.section-content {
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
}

.angular-image {
    height: min-content;
}