.navbar-list {
    margin-bottom: 0 !important;
}
.active-nav-link {
    color: white !important;
    font-weight: bolder;
    border-radius: 7%;
    background-color: crimson;
    text-decoration: underline;
}

.nav-item-link {
    margin: 0, 10rem, 0, 0rem;

    &:hover {
        color: white;
        font-weight: 500;
    }
}

.github-logo {
    padding: 1.6em 0 0 0 I !important;
    color: white;
    font-size: 1.67em;

    &:hover {
        color: gray;
    }
}

.brand-name {
    font-family: "monoton";
    font-weight: 400;

    &:hover {
        color: lightgray;
    }
}

.active-brand-name {
    text-decoration: underline;
}
