.navbar-list {
    margin-bottom: 0 !important;
}
.active-nav-link {

    color: white !important;
    font-weight: bolder;
    border-radius: 5%;
    background-color: crimson;

}

.nav-item-link {

    margin: 0, 10rem, 0, 0rem;

}