<form matFormFieldControl (ngSubmit)="onSubmit()" [formGroup]="imageForm"
    class="d-flex flex-column col-6 m-2 overflow-hidden w-auto">

    <div *ngIf="file; else selectFile" class="w-100">
        <mat-form-field class="mb-5 w-100">
            <mat-label>Select filter</mat-label>
            <mat-select formControlName="filter" [required]="true" #radio>
                <mat-option value="grayscale">Grayscale</mat-option>
                <mat-option value="reflect">reflect</mat-option>
                <mat-option value="blur">blur</mat-option>
                <mat-option value="sepia">sepia</mat-option>
                <mat-option value="ascii">ascii</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ng-template #selectFile>

        <div class="alert alert-warning" role="alert">
            <strong>Please load an image first</strong>
        </div>

    </ng-template>

    <h5></h5>

    <input type="submit" [disabled]="imageForm.invalid || !file" class="btn btn-success">

    <img *ngIf="resultImage" [src]="resultImage" alt="" srcset="">

</form>