<form matFormFieldControl [formGroup]="detectorForm" class="p-0 m-0 w-100 h-100 d-flex flex-column"
(ngSubmit)="submitFile()">

        <label class="btn btn-danger w-75 mx-auto justify-content-center">
            Load file <input formControlName="file" type="file" name="file" 
            (change)="onLoadFile($event)" hidden>
        </label>

        <div class="my-5 border-5 alert alert--gray w-100 font-sans file-info-container">

            <p class="fs-6">Filename: 
                <span class="card-secondary-text">{{(fileData|async)?.fileName}}</span>
            </p>
            <p class="fs-6" *ngIf="(fileData|async)?.fileDate">
                Created at: <span class="card-secondary-text">{{(fileData|async)?.fileDate}}</span>
            </p>
            <p class="fs-6">Type: 
                <span class="card-secondary-text">{{(fileData|async)?.fileType}}</span>
            </p>
            <p class="fs-6">Size:
                <span class="mb-3 card-secondary-text" *ngIf="(fileData|async)?.fileSize as fileSize">
                    {{fileSize}} Bytes 
                    <span *ngIf="fileSize && 
                    fileSize / 1000 >= 1"> ({{fileSize | readableSize}}) </span>
                </span>
        
            </p>
        
        </div>

        <div class="custom-card-action w-100">
            <input type="submit" value="Check mimetype" (keyup.enter)="submitFile()"  class="btn btn-success w-75 submit-btn"
            [matTooltip]="detectorForm.invalid? 'Please submit a valid file': ''"
            [disabled]="detectorForm.invalid" [ngClass]="detectorForm.invalid? '': ''">
        </div>

    </form>