@import '~@angular/material/theming';
@include mat-core();

$md-purple: (
    50 : #ece0f6,
    100 : #d1b3ea,
    200 : #b280dc,
    300 : #934dcd,
    400 : #7b26c3,
    500 : #6400b8,
    600 : #5c00b1,
    700 : #5200a8,
    800 : #4800a0,
    900 : #360091,
    A100 : #d0bdff,
    A200 : #ac8aff,
    A400 : #8857ff,
    A700 : #763dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-yellow: (
    50 : #fff7e0,
    100 : #ffecb3,
    200 : #ffdf80,
    300 : #ffd24d,
    400 : #ffc926,
    500 : #ffbf00,
    600 : #ffb900,
    700 : #ffb100,
    800 : #ffa900,
    900 : #ff9b00,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe3bf,
    A700 : #ffd8a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-orange: (
    50 : #ffeee0,
    100 : #fed4b3,
    200 : #fdb780,
    300 : #fc9a4d,
    400 : #fc8526,
    500 : #fb6f00,
    600 : #fa6700,
    700 : #fa5c00,
    800 : #f95200,
    900 : #f84000,
    A100 : #ffffff,
    A200 : #ffefeb,
    A400 : #ffc6b8,
    A700 : #ffb29f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($md-purple);
$app-accent: mat-palette($md-yellow);
$app-warn: mat-palette($md-orange);

$secondary-theme: mat-light-theme($app-primary, $app-accent, $app-warn);


.secondary-theme {
  @include angular-material-theme($secondary-theme);
}

/* .light-custom-theme {
  @include angular-material-theme($light-custom-theme);
} */