<app-loader [hidden]="true" class="loader h-100 w-100"></app-loader>

<header header (toggleSideNavEmitter)="drawer.toggle()" 
 class="p-0 m-0 d-flex flex-column sticky-header" [isMenuBarOpen]="drawer.opened">
</header>

<mat-drawer-container [hasBackdrop]="false" class="">

    <mat-drawer [disableClose]="false" [autoFocus]="false" [mode]="'push'" #drawer="matDrawer" class="drawer">
        <app-drawer></app-drawer>
    </mat-drawer>

    <mat-drawer-content (click)="toggleDrawer(drawer, drawer.opened)" 
    class="h-100 d-flex flex-column">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>

