*,
*::before,
*::after {
    box-sizing: border-box !important;
    
}




mat-drawer-container {
    height: 100%;
    width: 100%;
}

.drawer {
    padding-top: 6em;
}

.loader {
    position: fixed;
    background-color: #dc143c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
}

.sticky-header {
    position: sticky;
    z-index: 3;
    width: 100%;
    top: 0;
}

.app-content {
    width: 100% !important;
    height: 100% !important;
}

.font-sans {
    font-family: "Open Sans" !important;
}

app-root {

    display: block !important;

}
