
.drawer {

    padding-top: 6em;

}

.loader {

    position: fixed;
    background-color: #dc143c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;

}


.sticky-header {
    position: sticky;
    z-index: 4000;
    top: 0;
}