.preview-image {
    object-fit: fill;
    width: 100%;
}

.file-name-container {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden;
    font-weight: bold;
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.55);
}



