<!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-2">
        <!-- Container wrapper -->
        <div class="w-100">

            <div class="mobile-navbar d-flex d-md-none w-100">
                <button mat-icon-button (click)="toggleSideNav()" [@toggleMenuBar]="isMenuBarOpen ? 'open': 'closed'"
                    class="rounded-circle text-white" id="menu-button">

                    <fa-icon [icon]="faBars" size="lg" class="hello">

                    </fa-icon>
                </button>
                <a class="navbar-brand ms-auto fs-2 brand-name" [routerLink]="['/']"
                    routerLinkActive="active-brand-name" [routerLinkActiveOptions]="{ exact: true }">
                    Spring Media
                </a>
            </div>

            <div class="widescreen-navbar d-none d-md-flex container-fluid">
                <a class="navbar-brand fs-2 brand-name" [routerLink]="['/']" routerLinkActive="active-brand-name"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Spring Media
                </a>

                <div class="ms-auto">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row py-0 my-0 navbar-list">
                        <li class="nav-item nav-item-link mx-2">
                            <a class="nav-link fs-6" [routerLink]="['/detect']"
                                routerLinkActive="active-nav-link">Detector</a>
                        </li>
                        <li class="nav-item nav-item-link mx-2">
                            <a class="nav-link fs-6" [routerLink]="['/filters']"
                                routerLinkActive="active-nav-link">Image</a>
                        </li>
                        <li class="nav-item nav-item-link mx-2">
                            <a class="nav-link fs-6" [routerLink]="['/about']"
                                routerLinkActive="active-nav-link">About</a>
                        </li>
                        <li class="nav-item nav-item-link mx-2 p-0 d-flex flex-row align-items-center">
                            <a class="nav-link" class="" target="_blank"
                                href="https://github.com/lsandoval9/spring-media-backend">
                                <fa-icon [icon]="githubIcon" size="lg" class="github-logo">

                                </fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Left links -->

                <!-- Collapsible wrapper -->
            </div>


        </div>
        <!-- Container wrapper -->



    </nav>

    <mat-progress-bar mode="indeterminate" [hidden]="!isLoading" color="warn">
    </mat-progress-bar>
<!-- Navbar -->