<ul class="drawer-list d-flex flex-column mt-0 ps-4 px-4 list-unstyled">

    <li class="my-1 w-100">
        <a mat-flat-button color="warn" [routerLink]="['/detect']"
        routerLinkActive="active-nav-link">Detect</a>
    </li>
    <li class="my-1 w-100">
        <a mat-flat-button color="warn" [routerLink]="['/filters']"
        routerLinkActive="active-nav-link">Filters</a>
    </li>
    <li class="my-1 w-100">
        <a mat-flat-button color="warn" [routerLink]="['/about']"
        routerLinkActive="active-nav-link">About</a>
    </li>
    <li class="my-2 w-100">
        <a mat-button target="_blank"
        href="https://github.com/lsandoval9/spring-media-backend">
            <fa-icon class="" [icon]="githubIcon" size="lg"></fa-icon>
        </a>
    </li>

</ul>