<div class="image-container">
    <a type="download" [href]="isOriginalImageToggled?  
    (originalImage | getFileSrc | safeUrl): (resultImage | getFileSrc | safeUrl)" target="_blank" rel="noopener noreferrer">
        <img [src]="isOriginalImageToggled?  
        (originalImage | getFileSrc | safeUrl): (resultImage | getFileSrc | safeUrl)" 
        alt="" 
        [matTooltip]="isOriginalImageToggled? 'original': (filterName||'result')" 
        [matTooltipPosition]="'left'"
        class="filter-image">
    </a>
</div>