/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
    width: 100%;
    touch-action: pan-x pan-y;
}
body {
    margin: 0;
}

* {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
}

.error-dialog {
    border: 1px solid dimgray;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100% !important;
    max-height: 100% !important;
}

app-root{
    display: block !important;
}

* {
    scrollbar-color: rgb(220, 20, 60) transparent !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 6px;
    background: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    background: rgb(220, 20, 60);
    -webkit-border-radius: 0;
}
